
#map-canvas {
  min-width: 600x;
  width: 100vw;
  min-height: 600px;
  height: 100vh;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#sidemenu, #main {
  display: inline;
}

#side-menu{
  position: absolute;
  right: .5%;
  top: 1%;
  z-index: 9999;
  width: 31.5%;
  height: 98%;
  background-color: white;
}

#buttonholder, #search {
  margin: 0px;
  position: relative;
  padding: 0px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#weatherlisting{
  overflow-y: scroll !important;
  height: 60%;
}

.alisting, .time, .probability, .precipIntensity {
  position: relative;
  height: 1em;
  margin: 0px;
  padding; 0px;
}

.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}




.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input, #destination, #origin {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 300px;
  margin: 0px;
}

#pac-input:focus, #destination:focus, #origin:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}
